* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #2b2b2b;
    font-family: 'Montserrat', sans-serif;
}

body #projectBox {
    display: grid;
    grid-template-columns: auto auto auto;
}

body #projectBox .item {
    margin: 10px 50px;
}


.navigation {
    background-color: #2b2b2b;
    color: #fff;

    animation-name: animation-nav;
    animation-duration: 4s;
}



.navigation ul {
    list-style: none;
    text-align: right;
    height: 50px;
}

.navigation ul li {
    display: inline-block;
    padding: 0 30px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 100;
}

.navigation li.threeline-icon {
    display: none;
}

.navigation li.threeline-icon:hover {
    color: #f27609;
    cursor: pointer;
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}

.navigation ul li a:hover {
    color: #f38f37;
    transition: 0.4s;
}

.capa {
    color: #fff;
    display: block;

}

.capa span {
    color: #f27609;
    font-size: 58px;
    display: block;
}

.capa div {
    display: inline-block;
    height: 650px;
}

.profile-pic {
    width: 40%;
    text-align: center;

    animation-name: profile-capa;
    animation-duration: 2s;
}

.profile-pic img {
    width: 300px;
    border-radius: 45%;
    margin-top: 100px;
}

.profile-title {
    vertical-align: top;
    width: 59%;

    animation-name: profile-text;
    animation-duration: 2s;
}

.profile-title h1 {
    font-size: 58px;
    margin-top: 220px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 54px;
}

.profile-title h2 {
    font-size: 20px;
    font-weight: 100;
}

.main {
    padding: 80px 180px 80px 100px;

    animation-name: conteudo;
    animation-duration: 2s;
}

#divulgacao h1{
    color: #f27609;
    font-size: 15px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 54px;

    animation-name: divulgacao;
    animation-duration: 4s;
}

#divulgacao a {
    color: #f27609;
    font-weight: bold;
}

#divulgacao a:hover {
    color: #fff;
}

.cv-pic{
    float: left;
    width: 280px;
    margin-right: 20px;
}

.main h1 {
    color: #fff;
    font-weight: normal;
    margin: 20px 0;
}

.main h2 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0;
}

.main h3 {
    color: #f27609;
    font-size: 12px;
    text-transform: uppercase;
    padding: 20px 0;
}

.main hr {
    margin-bottom: 20px;
}

.main p {
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 15px;
}

.caminho {
    list-style: none;
    color: grey;
}

.caminho li {
    display: inline-block;
}

.caminho a {
    text-decoration: underline;
    color: #fff;
    opacity: 0.5;
}

.caminho a:hover {
    color: #fff;
    opacity: 1;
    transition: 0.4s;
}

.social-img {
    width: 30px;
    margin: 5px 10px 10px 0px;
}

.miniatura{
    width: 320px;
    height: 320px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.blackbox {
    width: 100%;
    height: 100%;
    opacity: 1;
    padding: 120px 0 0 0;
    box-sizing: border-box;
    border-radius: 20px;
    transition: 0.2s;
}

.blackbox:hover {
    border: 4px double #fff
}

.blackbox:hover .blackbox-text h1{
    font-weight: 1000;
}

.blackbox-text {
    text-align: center;
}

.blackbox-text h1{
    font-size: 20px;
    color: #2b2b2b;
    font-weight: 600;
    text-transform: uppercase;
}

.blackbox-text h2 {
    text-transform: none;
    color: #2b2b2b;
    text-transform: uppercase;
}

.foto-trabalhos {
    width: 100%;
    padding: 20px 0;
}

.navigation li.threeline-icon {
    display: none;
}

.back-link {
    color: #f27609;
    display: inline-block;
    margin: 0 0 20px 0;
}

.back-link:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

@keyframes profile-capa {
    0% {opacity: 0; transform: translate(0px,20px)}
    100% {opacity: 1;transform: translate(0px,0px)}
}

@keyframes profile-text {
    0% {margin-left: -2000px;}
    100%{margin-left: 0;}
}

@keyframes conteudo {
    0% {opacity: 0; transform: translate(-20px, 0px);}
    100%{opacity: 1; transform: translate(0px, 0px);}
}

@keyframes divulgacao {
    0% {margin-left: -2000px;}
    100% {opacity: 1; margin-left: 0;}
}

@keyframes animation-nav {
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}


@media (max-width: 1000px) {
    .navigation li a{
        display: none;
    }
    
    .navigation li.threeline-icon {
        display: inline-block;
        margin: 50px 0 0 0 ;
        font-size: 80px;
    }
    
    .capa div {
        display: block;
        height: auto;
        margin: 100px 0 0 0;
    }
    
    .profile-pic {
        width: 100%;
    }
    
    .profile-pic img {
        margin-top: 0;
        max-width: 80%;
        width: 300px;
        margin-top: 10px;
    }
    
    .profile-title {
        text-align: center;
        width: 100%;
    }
    
    .profile-title h1{
        font-size: 40px;
        margin: 30px 20px 0 20px;
    }
    
    .profile-title h2 {
        margin: 20px 20px 40px 20px;
        font-size: 20px;
    }
    
    .profile-title span {
        font-size: 40px;
    }
    
    .main {
        padding: 10px 5% 40px 5%;
    }
    
    .main p {
        text-align: left;
        line-height: 30px;
    }
    
    body #projectBox {
        display: grid;
        grid-template-columns: auto auto;
    }
    
    body #projectBox .item {
        margin: 30px auto;
    }

    .caminho li {
        font-size: 14px;
    }
    
    .cv-pic{
        float: none;
        max-width: 100%;
        margin-right: 0px;
    }
    
    
    .miniatura {
        max-width: 100%;
        background-size: auto 100%;
    }
    
    .blackbox {
        background: url('../img/background-piano.jpg');
    }
    
    .menujs {
        height: auto;
    }
    
    .menujs ul {
        display: block;
        height: auto;
        text-align: center;
        padding: 0 15%;
    }
    
    .menujs ul li {
        display: block;
        font-size: 30px;
        border-bottom: 1px solid grey;
        letter-spacing: 4px;
    }
    
    .menujs ul li a {
        display: block;
    }

}

@media (max-width: 501px) {


    .navigation li a{
        display: none;
    }
    
    .navigation li.threeline-icon {
        display: inline-block;
        margin: 50px 0 0 0 ;
        font-size: 130px;
    }
    
    .capa div {
        display: block;
        height: auto;
        margin: 100px 0 0 0;
    }
    
    .profile-pic {
        width: 100%;
    }
    
    .profile-pic img {
        margin-top: 0;
        max-width: 80%;
        width: 400px;
        margin-top: 10px;
    }
    
    .profile-title {
        text-align: center;
        width: 100%;
    }
    
    .profile-title h1{
        font-size: 70px;
        margin: 30px 20px 0 20px;
    }
    
    .profile-title h2 {
        margin: 20px 20px 40px 20px;
        font-size: 40px;
    }
    
    .profile-title span {
        font-size: 90px;
    }

    
    .main {
        padding: 10px 5% 40px 5%;
    }
    
    .main p {
        text-align: left;
        line-height: 30px;
    }

    body #projectBox {
        display: grid;
        grid-template-columns: auto;
    }
    
    body #projectBox .item {
        margin: 40px auto;
    }
    
    .caminho li {
        font-size: 14px;
    }
    
    .cv-pic{
        float: none;
        max-width: 100%;
        margin-right: 0px;
    }
    
    
    .miniatura {
        max-width: 100%;
        background-size: auto 100%;
    }
    
    .blackbox {
        opacity: 0.8;
    }
    
    .menujs {
        height: auto;
    }
    
    .menujs ul {
        display: block;
        height: auto;
        text-align: center;
        padding: 0 15%;
    }
    
    .menujs ul li {
        display: block;
        font-size: 30px;
        border-bottom: 1px solid grey;
        letter-spacing: 4px;
    }
    
    .menujs ul li a {
        display: block;
    }
}